html {
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAMgAAADIAGP6560AAAAHdElNRQfmAhETLiHHojX+AAAAAW9yTlQBz6J3mgAAAdhJREFUSMft1E9Ik3EYB/Bne51ts//NubaIJKqBYXMgsoM3QQ9RQQR1KFCx9Wdj1/Tm6BZ26BAIgRP/XDx4WG1zURASEYsdVqNEEOkSbSC5cGzv9P32vO6tUHB73/fs873u9+F5Xp49REZqzHZPXqDDZKYGMpDmEsi8OiB+n/DRMbLoIQSyZvxAJR/ppeN6CIGaFoPAB1R+zV3RQzDwJgQ48RKbG8mb2gdRABtaMIstMeXXSjDwlkdwwM7EOKTNzyFthAK4cHI7TwBpJayFkEcIAKeZqOYxJPx4rp6QgYdAKxN/8whbyEUcNnUEA0kGzjHxP0FUsDZ/0a6GkIEHgBtnd2QARay/vu6oTyhAG87vyi0UUHw/7KID/BtDTWDhPnCJe3AzM43YvywBKKdmnLV7YCBxD/Dy4zZMQRTTGTmfsh+/pTMri4Xo73CHqR7Af6ZOtGOEd+DpC7pGfUp6yEvNKkaQgS7cRhmJV+QhO+/AUSUHqbH2820gfhe4ihy+frH46AhPLPCZqcagZg+ssSFgGT/znstkI5P2e2CNDwKlUn+AnNyw5otkJPO7O5L0bJTO8FU0ar+J8lG9kR2jU7xzRj1H1UBC1HHiEDev63mVUPm992u/9qo/2kT3ZBy6Y5UAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDItMTdUMTk6NDY6MzIrMDA6MDCSamQkAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAyLTE3VDE5OjQ2OjMyKzAwOjAw4zfcmAAAAABJRU5ErkJggg=='), auto;
}
body {
    background: #111;
    color: #fff;
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGl0Y2glMjBibGFja3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    font-weight: bold;
    font-size: big;
}
li {
    color: #f1f1f1;
}
b {
    color: #fff;
}
footer {
    border-top: 1px solid #fff;
    font-size: small;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: #080808;
    width: 100%;
    height: 1em;
}
.content {
  margin: 2em auto;
  position: relative;
  width: 60%;
}
text-pages {
  position: absolute;
  color: red;
}
center {
  text-align: center;
}
.skiptranslate
{
  display:none;
}
body
{
  top:0!important;
}
ul {
  list-style-type:none;
  margin:0;
  padding:0;
  background-color:#111;
  overflow:auto;
  white-space:nowrap;
}
ul a {
  display:inline-block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  transition:0.3s;
  cursor:pointer;
  margin-left: -4px;
}
ul a:hover {background-color:#333;}

.showtasks a:hover {background-color: #ddd;}

.dropdown:hover .showtasks {display: block;}

.dropdown:hover .dropbtn {background-color:#333;}

.showtasks {
    display: none; 
    position: absolute; 
    float: none;
    background-color: #666;
    transition:0.3s;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    min-width: 160px;
    margin-left: -4px;
  }
  .showtasks a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropbtn {
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    transition:0.3s;
    background-color:#111;
    cursor:pointer;
    border: none;
    font-size: medium;
    margin-left: -4px;
  }
  .dropdown {
    display: inline-block;
  }